apiVersion: v1
kind: PersistentVolume
metadata:
  name: data
  labels:
    type: server
spec:
  storageClassName: standard-file
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 20Gi
  hostPath:
    path: /svr/pv
